<div class="landingtop">
	<div class="topheader">
		<p> I am an Appliant </p>
		<p> API Docs </p>
		<p> About Us </p>
		<p> Careers </p>
	</div>


	<div class="bottomheader"> 
		<div class="left">
			
			
			<div class="dropdown">
				<div class="dropbtn"> Product </div>
				  	<div class="dropdown-content">
	    				<a href="1">Overview</a>
	    				<a href="1">Screenings</a>
	    				<a href="1">Compliance</a>
	    				<a href="1">Security</a>
	  				</div>
	  		</div>
  			

	  		<div class="dropdown">
	  			<div class="dropbtn"> Staffing </div>
				  	<div class="dropdown-content">
	    				<a href="1">Overview</a>
	  				</div>
	  		</div>


	  		<div class="dropdown">
	  			<div class="dropbtn"> Industries </div>
				  	<div class="dropdown-content">
	    				<a href="1">Overview</a>
	    				<a href="1">Contact Centers</a>
	    				<a href="1">Retail & Hospitality</a>
	    				<a href="1">Non Profit</a>
	    				<a href="1">Manufacturing</a>
	    				<a href="1">Small Businesses</a>
	    				<a href="1">Staffing</a>
	    				<a href="1">Financial Services</a>
	    				<a href="1">Healthcare</a>
	    				<a href="1">On Demand Economy</a>
	    				<a href="1">Software & Technology</a>
	    				<a href="1">P2P Marketplaces</a>
	  				</div>
	  		</div>
	  		
	  		<div class="dropdown">	
	  			<div class="dropbtn"> Resources </div>
				  	<div class="dropdown-content">
	    				<a href="1">Overview</a>
	    				<a href="1">Guides & Whites Papers</a>
	    				<a href="1">FAQ</a>
	  				</div>
	  		</div>

			<p> Compliance </p>
		</div>


		<div class="right">
			<p> Log in </p>
			<button> Get Started </button>
		</div>
	</div>

	<div class="container">
		<div class="catch">
			<div class="catchleft">
				<h1> HIRE GREAT PEOPLE. <br />FASTER. </h1>
				<p> Checkr provides modern and compliant background checks for global enterprises and startups. </p>
			</div>
			<button> Explore Now ➤</button>
		</div>
	</div>
</div>