body {
	height:100%;
	padding: 0px;
	margin: 0px;
	font-family:"Montserrat",sans-serif;
	font-weight: lighter;
}

/* Section 1 */
.toppage {
	background: asset-data-url('checkr.jpg');
	background-size: cover;
	height: 770px;

}

.topheader {
	display:flex;
	justify-content: flex-end;
	margin-right: 10%;
	p { padding-left:20px;
		color: white;
		font-size:14px;
	}
	p:hover {
		color:#ddd;
	}
}

.bottomheader {
	display:flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-size: 14px;

}

.left {
  	display: flex;
  	justify-content: flex-start;
  	align-items: center;
  	margin-left: 10%;
  	color: white;
	img {
		width:130px;
	}
	p:hover {
		color:#ddd;
	}
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    background-color: none;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
color: blue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #ddd;
}


.right {
	display: flex;
	justify-content: flex-end;
	margin-right: 10%;
	align-items: center;
		p { 
			padding-right:20px;
			color: white;
			font-size:16px;
		}
			p:hover {
			color:#ddd;
			}
				button {
					text-transform: uppercase;
					padding: 22px 36px 22px 36px;
					margin:0;
					font-size:15px;
					display: inline-flex;
					border-radius: 1px;
					color: #efc81f;
					border-width: 2px;
					background-color: transparent;
					border-color: #efc81f;
				}
				button:hover{
				background-color: #efc81f;
				color:rgb(49, 75, 104)
				}

}

.container {

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

.catch{
	width: 526px;
	position: absolute;
	color:white;
	margin-top:10%;
	margin-left:10%;

		h1 {
			font-size: 40px;
		}
			p {
				font-size: 18px;
			}
				button {
					background-color:rgb(224, 190, 45);
					text-transform: uppercase;
					padding: 22px 36px 22px 36px;
					margin:0;
					font-size:15px;
					display: inline-flex;
					border-radius: 5px;
					color:rgb(49, 75, 104);
					border-width: 0px;
				}
				button:hover {
					opacity:0.8;
				}
}

.catchright {
	
	width: 550px;
	margin-left: 50%;
	margin-right: 10%;
	margin-top: 5%;
}
.image {
	width: 100%;
	margin-right: 10%;
	
}

/* Section 2 */

.secondpage {

}

.text {
	display: flex;
	justify-content: center;
	padding-top: 5%;
}
.conteneur {
	display: flex;
	justify-content: space-around;
	margin-left: 15%;
	margin-right: 15%;
}

.logo {
	width: 10%;
	height: 10%;
		
}

.logo1 {
			width: 10%;
			height: 10%;
			padding-top: 3%;
		}
.logo2 {
	width: 10%;
	height: 10%;
	padding-top: 2%;
}